name: Create release
on: [create, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Restore cache
      id: cache
      uses: actions/cache@v3
      with:
        path: |
          ~/quicklisp
          ~/.wine
          ~/trial-deproyment
        key: ${{ runner.os }}
        restore-keys: ${{ runner.os }}
    - name: Install packages
      run: |
        git config --global user.name "CI"
        git config --global user.email "shinmera@tymoon.eu"
        sudo apt-get -qq install wine curl fontforge imagemagick inkscape --no-install-recommends
    - name: Install env
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 https://gitea.tymoon.eu/Shirakumo/trial-deployment.git ~/trial-deployment
        curl -o ~/quicklisp.lisp https://beta.quicklisp.org/quicklisp.lisp
        ~/trial-deployment/sbcl-lin \
             --load ~/quicklisp.lisp \
             --eval '(quicklisp-quickstart:install)' \
             --eval '(ql-util:without-prompting (ql:add-to-init-file))' \
             --eval '(ql:quickload :shasht)' \
             --eval '(ql:quickload :clip)' \
             --eval '(ql:quickload :pathname-utils)' \
             --quit
        ~/trial-deployment/sbcl-win \
             --load ~/quicklisp.lisp \
             --eval '(quicklisp-quickstart:install)' \
             --eval '(ql-util:without-prompting (ql:add-to-init-file))' \
             --eval '(ql:quickload :shasht)' \
             --eval '(ql:quickload :clip)' \
             --eval '(ql:quickload :pathname-utils)' \
             --quit
    - uses: actions/checkout@v2
    - name: Rebuild
      run: |
        ~/trial-deployment/sbcl-lin \
              --noinform \
              --disable-debugger \
              --eval "(ql:quickload '(clip shasht pathname-utils) :silent T)" \
              --load "compile.lisp" \
              --eval '(promptfont-compiler::dump)'
        ~/trial-deployment/sbcl-win \
              --noinform \
              --disable-debugger \
              --eval "(ql:quickload '(clip shasht pathname-utils) :silent T)" \
              --load "compile.lisp" \
              --eval '(promptfont-compiler::dump)'
        ./promptfont.run all
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: promptfont-${{ github.ref_name }}
        path: promptfont.zip
    - name: Create release
      id: create_release
      continue-on-error: true
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: Release ${{ github.ref_name }}
        artifacts: promptfont.zip
    - uses: Ayowel/butler-to-itch@v1.0.0
      with:
        butler_key: ${{ secrets.BUTLER_CREDENTIALS }}
        itch_user: shinmera
        itch_game: promptfont
        version: ${{ github.ref_name }}
        files: all promptfont.zip

